Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

_Objectives:_
1-Allows recording of data experiences of the scientist
2-Descriptive text and instruction blocks can be combined
3-Creation and sharing of documents

Some of the popular languages that Data Scientists use are:
1. java
2. python
3. c++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scipy
3. Numpy

| tools data scince |
| ------------------|
| management tools  |
| integration tools | 
| transformation tools|

Below are a few examples of evaluating arithmetic expressions in Python

2+1
5*9
1-1

In [2]:
#his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## H2: Author
Reenad Almadhi